
MifareLady/\.vs/

MifareLady/BusinessLogic/obj/

MifareLady/MifareLady/bin/

MifareLady/MifareLady/obj/

MifareLady/SQLiteAdapter/bin/

MifareLady/SQLiteAdapter/obj/

MifareLady/Tier1/MifareLady/bin/

MifareLady/Tier1/MifareLady/obj/

MifareLady/Tier2/BusinessLogic/obj/

MifareLady/Tier3/SQLiteAdapter/bin/

MifareLady/Tier3/SQLiteAdapter/obj/

MifareLady/Tier2/BusinessLogic/bin/
